extends layout

block content
        br
        .container.mt-5
            
            form(method="get", action="/municipalities")
                fieldset
    
                    div.form-group
                        label(for="municipality") Message:
                        input.form-control(type="text", name="status", value=`${message}` disabled)
                        input#message.form-control(type="hidden", name="message", value=`${message}`)
                        label(for="municipality") Result:
                        input.form-control(type="text", name="result", value=`${result}` disabled)
                        input#result.form-control(type="hidden", name="result", value=`${result}`)
                        label(for="token") token:
                        input.form-control(type="text", name="token", value=`${token}` disabled)
                        input#token.form-control(type="hidden", name="token", value=`${token}`)
                    div.form-group
                        input#seeMaps.form-control.btn.btn-lg.bg-primary.text-white(type="submit", value="Ver mapas")

            a(href="/") Regresar al home

        script(src='/js/script2.js')